################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OpenDreamClient/bin
/OpenDreamClient/obj
/OpenDreamServer/obj
/packages/System.Net.Sockets.4.3.0
/OpenDreamServer/bin/Debug/netcoreapp3.1
/DMCompiler/bin/Debug/netcoreapp3.1
/DMCompiler/obj
