################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OpenDreamClient/bin
/OpenDreamClient/obj
/OpenDreamClient/Properties
/OpenDreamServer/bin
/OpenDreamServer/obj
/OpenDreamServer/Properties
/DMCompiler/bin
/DMCompiler/obj
/DMCompiler/Properties
/packages/System.Net.Sockets.4.3.0
/TestGame/environment.json

# JetBrains Rider
.idea/
*.sln.iml