name: Compile Test Codebases

on:
  push:
    branches: [ master  ]
  pull_request:
    branches: [ master  ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Main
      uses: actions/checkout@v2
      with:
        path: main
    - name: Setup submodule
      run: |
        cd main/
        git submodule update --init --recursive
    - name: Update Engine Submodules
      run: |
        cd main/RobustToolbox/
        git submodule update --init --recursive
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x
    - name: Install compiler dependencies
      run: dotnet restore main/DMCompiler/DMCompiler.csproj
    - name: Install disassembler dependencies
      run: dotnet restore main/DMDisassembler/DMDisassembler.csproj
    - name: Build compiler
      run: dotnet build main/DMCompiler/DMCompiler.csproj --property WarningLevel=0 --configuration Release --no-restore /m
    - name: Build disassembler
      run: dotnet build main/DMDisassembler/DMDisassembler.csproj --property WarningLevel=0 --configuration Release --no-restore /m
    - name: Cache build 
      uses: actions/cache/save@v4
      with:
        path: main/bin
        key: cache-${{ github.run_id }}-${{ github.run_attempt }}


  compile-testgame:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: true
    steps:
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x
    - name: Checkout Main
      uses: actions/checkout@v2
      with:
        path: main          
    - name: Pop build cache
      uses: actions/cache/restore@v4
      with:
        path: main/bin
        key: cache-${{ github.run_id }}-${{ github.run_attempt }}
    - name: Compile TestGame
      run: main/bin/DMCompiler/DMCompiler main/TestGame/environment.dme --suppress-unimplemented
    - name: Compile TestGame in directory      
      run: |
        cd main/TestGame/
        ../bin/DMCompiler/DMCompiler environment.dme --suppress-unimplemented

  compile-tgstation:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: true
    steps:
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x      
    - name: Pop build cache
      uses: actions/cache/restore@v4
      with:
        path: main/bin
        key: cache-${{ github.run_id }}-${{ github.run_attempt }}       
    - name: Checkout /tg/station Master
      uses: actions/checkout@v2
      with:
        repository: tgstation/tgstation
        ref: master
        path: tg
    - name: Compile /tg/station Master
      run: main/bin/DMCompiler/DMCompiler tg/tgstation.dme --suppress-unimplemented --suppress-unsupported
    - name: Disassemble /tg/station Master
      run: main/bin/DMDisassembler/DMDisassembler tg/tgstation.json crash-on-test

  compile-goonstation:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: true
    steps:
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x      
    - name: Pop build cache
      uses: actions/cache/restore@v4
      with:
        path: main/bin
        key: cache-${{ github.run_id }}-${{ github.run_attempt }}         
    - name: Checkout Goonstation Master
      uses: actions/checkout@v2
      with:
        repository: goonstation/goonstation
        ref: master
        path: goon
    - name: Compile Goonstation Master
      run: |
        touch goon/+secret/__secret.dme
        main/bin/DMCompiler/DMCompiler goon/goonstation.dme --suppress-unimplemented --suppress-unsupported

  compile-paradise:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: true
    steps:
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x      
    - name: Pop build cache
      uses: actions/cache/restore@v4
      with:
        path: main/bin
        key: cache-${{ github.run_id }}-${{ github.run_attempt }}         
    - name: Checkout Paradise Master
      uses: actions/checkout@v2
      with:
        repository: ParadiseSS13/Paradise
        ref: master
        path: para
    - name: Compile Paradise Master
      run: main/bin/DMCompiler/DMCompiler para/paradise.dme --suppress-unimplemented --suppress-unsupported

  compile-nebula:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: true
    steps:
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x      
    - name: Pop build cache
      uses: actions/cache/restore@v4
      with:
        path: main/bin
        key: cache-${{ github.run_id }}-${{ github.run_attempt }}       
    - name: Checkout Nebula Dev
      uses: actions/checkout@v2
      with:
        repository: NebulaSS13/Nebula
        ref: dev
        path: nebula
    - name: Compile Nebula Dev
      run: main/bin/DMCompiler/DMCompiler nebula/nebula.dme --suppress-unimplemented --suppress-unsupported --version=516.1655

  compile-vgstation:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: true
    steps:
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x      
    - name: Pop build cache
      uses: actions/cache/restore@v4
      with:
        path: main/bin
        key: cache-${{ github.run_id }}-${{ github.run_attempt }}       
    - name: Checkout /vg/station Master
      uses: actions/checkout@v2
      with:
        repository: vgstation-coders/vgstation13
        ref: Bleeding-Edge
        path: vg
    - name: Compile /vg/station Master
      run: main/bin/DMCompiler/DMCompiler vg/vgstation13.dme --suppress-unimplemented --suppress-unsupported --version=516.1655

  compile-cm:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: true
    steps:
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x      
    - name: Pop build cache
      uses: actions/cache/restore@v4
      with:
        path: main/bin
        key: cache-${{ github.run_id }}-${{ github.run_attempt }}       
    - name: Checkout CM Master
      uses: actions/checkout@v2
      with:
        repository: cmss13-devs/cmss13
        ref: master
        path: cm
    - name: Compile CM Master
      run: main/bin/DMCompiler/DMCompiler cm/colonialmarines.dme --suppress-unimplemented --suppress-unsupported

  compile-aurora:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: true
    steps:
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x      
    - name: Pop build cache
      uses: actions/cache/restore@v4
      with:
        path: main/bin
        key: cache-${{ github.run_id }}-${{ github.run_attempt }}       
    - name: Checkout Aurora Master
      uses: actions/checkout@v2
      with:
        repository: Aurorastation/Aurora.3
        ref: master
        path: aurora
    - name: Compile Aurora Master
      run: main/bin/DMCompiler/DMCompiler aurora/aurorastation.dme --suppress-unimplemented --suppress-unsupported --version=516.1655

  compile-daedalus:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: true
    steps:
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x      
    - name: Pop build cache
      uses: actions/cache/restore@v4
      with:
        path: main/bin
        key: cache-${{ github.run_id }}-${{ github.run_attempt }}       
    - name: Checkout Daedalus Master
      uses: actions/checkout@v2
      with:
        repository: DaedalusDock/daedalusdock
        ref: master
        path: daedalus
    - name: Compile Daedalus Master
      run: main/bin/DMCompiler/DMCompiler daedalus/daedalus.dme --suppress-unimplemented --suppress-unsupported
