name: Lint

on:
  pull_request:
    branches: [master]
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  lint:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup submodule
        run: |
          git submodule update --init --recursive
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 10.0.x
      - name: Setup Resharper
        run: dotnet tool install -g JetBrains.ReSharper.GlobalTools
      - name: Run Linter
        run: jb inspectcode OpenDream.slnx -o="output.json" --project="OpenDream*;DM*" --no-swea
      - uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: output.json
